<h3 class="mt-4 text-primary text-center">Tabla de Reservaciones</h3>

<table class="table table-bordered table-hover w-75 text-center mx-auto my-4 shadow">
  <thead class="table-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tipo de Reservación</th>
      <th scope="col">Reservista</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora Inicio</th>
      <th scope="col">Hora Fin</th>
      <th scope="col">Motivo</th>
      <th scope="col">Estado</th>
      <th scope="col">Recurso Reservado</th>
    </tr>
  </thead>

  <tbody>
    @for (reservas of reservaciones; track reservas.id) {
    <tr>
      <td>{{ reservas.id }}</td>
      <td>{{ reservas.id_tipo_recurso }}</td>
      <td>{{ reservas.nombre_vecino }}</td>
      <td>{{ reservas.fecha }}</td>
      <td>{{ reservas.hora_inicio }}</td>
      <td>{{ reservas.hora_fin }}</td>
      <td>{{ reservas.motivo }}</td>
      <td>{{ reservas.estado }}</td>
      <td>{{ reservas.nombre_recurso }}</td>
    </tr>
    }
  </tbody>
</table>

